@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes glow {
	0% {
		box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
	}
	50% {
		box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
	}
	100% {
		box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
	}
}

.wiggle {
	animation: wiggle 0.5s ease-in-out infinite;
}

.shake {
	animation: shake 0.5s ease-in-out infinite;
}

.wiggle-shake {
	animation:
		wiggle 0.5s ease-in-out infinite,
		shake 0.5s ease-in-out infinite;
}

.glow {
	animation: glow 1s ease-in-out infinite;
}

.wiggle-shake-glow {
	animation:
		wiggle 0.5s ease-in-out infinite,
		shake 0.5s ease-in-out infinite,
		glow 1s ease-in-out infinite;
}
