name: Test Build and Deploy Bun Project
on:
  push:
    branches:
      - deploytest
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: preview
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build
      - name: Deploy to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          source: './*'
          target: '~/market.3000'
          rm: true
      - name: Write .env file from secrets
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          script: |
            cat <<EOF > ~/market/.env
            APP_RELAY_URL=${{ secrets.APP_RELAY_URL }}
            APP_PRIVATE_KEY=${{ secrets.APP_PRIVATE_KEY }}
            EOF
      - name: Restart market-dev.service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          script: |
            sudo systemctl restart market-dev.service
